@charset 'utf-8';
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  padding: 22px 0px;
  height: 44px;
  width: 1190px;
  margin: auto;
}
.header > a > img {
  margin-top: 8px;
  width: 190px;
}
.content {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.content .logo {
  width: 100%;
  background-color: #dd2726;
}
.content .logo .inner {
  position: relative;
  width: 1190px;
  margin: auto;
}
.content .logo .inner > img {
  display: block;
  margin: auto;
}
.content .logo .inner > a {
  display: block;
  position: absolute;
  top: 80px;
  left: 75px;
  width: 630px;
  height: 440px;
  border: none;
  outline: none;
}
.content #login-content {
  width: 350px;
  height: 400px;
  display: block;
  right: 224.5px;
  position: absolute;
  top: 91px;
  background: #fff;
}
.content #login-content .container {
  padding: 25px 25px 23px;
  color: #6c6c6c;
  background: #fff;
  position: relative;
  margin: 0 auto;
  display: block;
}
.content #login-content .container .inner-content {
  position: static;
}
.content #login-content .container .inner-content .icon-qr-code {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 52px;
  line-height: 52px;
  cursor: pointer;
  color: #f40;
}
.content #login-content .container .inner-content .login-tip {
  top: 5px;
  right: 58px;
  position: absolute;
  display: block;
}
.content #login-content .container .inner-content .login-tip .poptip {
  border: 1px solid #f3d995;
  background: #fefcee;
  line-height: 16px;
  position: relative;
  z-index: 9999;
  padding: 5px 10px;
}
.content #login-content .container .inner-content .login-tip .poptip .poptip-arrow {
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 0;
}
.content #login-content .container .inner-content .login-tip .poptip .poptip-arrow em {
  top: 0;
  left: 1px;
  width: 0;
  height: 0;
  position: absolute;
  border-left-color: #ff9000;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  overflow: hidden;
  border-color: hsla(0, 0%, 100%, 0);
}
.content #login-content .container .inner-content .login-tip .poptip .poptip-arrow span {
  position: absolute;
  width: 0;
  height: 0;
  border-color: hsla(0, 0%, 100%, 0);
  border-left-color: #fefcee;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  overflow: hidden;
  top: 0;
  left: 0;
}
.content #login-content .container .inner-content .login-tip .poptip .poptip-content {
  color: #ff9000;
  font-size: 12px;
  font-weight: 400;
  font: 300;
}
.content #login-content .container .inner-middle {
  width: 100%;
  margin: 0 auto;
  padding-top: 2px;
  display: none;
}
.content #login-content .container .inner-middle .inner-blocks {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 4px;
  zoom: 1;
}
.content #login-content .container .inner-middle .inner-blocks .password-item {
  height: 18px;
  line-height: 5px;
  font-size: 16px;
  color: #3c3c3c;
  margin: 9px 10px 0 0;
  font-weight: 700;
  border-bottom: 2px solid #000;
  display: inline-block;
}
.content #login-content .container .inner-middle .inner-blocks .sms-item {
  height: 18px;
  line-height: 5px;
  font-size: 16px;
  color: #3c3c3c;
  margin: 9px 10px 0 0;
  font-weight: 700;
  display: inline-block;
}
.content #login-content .container .inner-middle .fm-field {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
}
.content #login-content .container .inner-middle .fm-field .fm-label-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 1px;
  bottom: 1px;
  background-color: #ccc;
}
.content #login-content .container .inner-middle .fm-field .fm-label-icon .icon-yonghu {
  font-size: 24px;
}
.content #login-content .container .inner-middle .fm-field .fm-label-icon .icon-suo {
  font-size: 24px;
}
.content #login-content .container .inner-middle .fm-field .fm-text {
  border: 1px solid #ccc;
  height: 42px;
  outline: none;
  font-size: 14px;
  padding-left: 50px;
  border-color: #f1eeee;
  width: 300px;
  box-sizing: border-box;
}
.content #login-content .container .inner-middle .fm-field .fm-text:hover {
  border-color: #ff0036 !important;
}
.content #login-content .container .inner-middle .fm-btn {
  width: 100%;
  box-sizing: border-box;
}
.content #login-content .container .inner-middle .fm-btn .fm-buttom {
  background-color: #ff0036;
  border-color: #f40;
  font-size: 16px;
  border: 1px solid #ff9000;
  border-radius: 3px;
  height: 42px;
  line-height: 42px;
  outline: none;
  color: #fff;
  width: 100%;
  cursor: pointer;
}
.content #login-content .container .inner-middle .login-blocks {
  margin-top: 16px;
  margin-bottom: 0;
  text-align: right;
}
.content #login-content .container .inner-middle .login-blocks > a {
  color: #6c6c6c;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}
.content #login-content .container .inner-middle1 {
  width: 100%;
  margin: 0 auto;
  padding-top: 2px;
}
.content #login-content .container .inner-middle1 .inner-blocks {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 4px;
  zoom: 1;
}
.content #login-content .container .inner-middle1 .inner-blocks .password-item {
  height: 18px;
  line-height: 5px;
  font-size: 16px;
  color: #3c3c3c;
  margin: 9px 10px 0 0;
  font-weight: 700;
  display: inline-block;
}
.content #login-content .container .inner-middle1 .inner-blocks .sms-item {
  height: 18px;
  line-height: 5px;
  font-size: 16px;
  color: #3c3c3c;
  margin: 9px 10px 0 0;
  font-weight: 700;
  border-bottom: 2px solid #000;
  display: inline-block;
}
.content #login-content .container .inner-middle1 .fm-field {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
}
.content #login-content .container .inner-middle1 .fm-field .fm-label-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 1px;
  bottom: 1px;
  background-color: #ccc;
}
.content #login-content .container .inner-middle1 .fm-field .fm-label-icon .icon-mobile {
  font-size: 24px;
}
.content #login-content .container .inner-middle1 .fm-field .fm-label-icon .icon-yanzhengma {
  font-size: 24px;
}
.content #login-content .container .inner-middle1 .fm-field .fm-text {
  border: 1px solid #ccc;
  height: 42px;
  outline: none;
  font-size: 14px;
  padding-left: 50px;
  border-color: #f1eeee;
  width: 300px;
  box-sizing: border-box;
}
.content #login-content .container .inner-middle1 .fm-field .fm-text:hover {
  border-color: #ff0036 !important;
}
.content #login-content .container .inner-middle1 .fm-btn {
  width: 100%;
  box-sizing: border-box;
}
.content #login-content .container .inner-middle1 .fm-btn .fm-buttom {
  background-color: #ff0036;
  border-color: #f40;
  font-size: 16px;
  border: 1px solid #ff9000;
  border-radius: 3px;
  height: 42px;
  line-height: 42px;
  outline: none;
  color: #fff;
  width: 100%;
  cursor: pointer;
}
.content #login-content .container .inner-middle1 .login-blocks {
  margin-top: 16px;
  margin-bottom: 0;
  text-align: right;
}
.content #login-content .container .inner-middle1 .login-blocks > a {
  color: #6c6c6c;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}
.content #login-content .container1 {
  padding: 25px 25px 23px;
  color: #6c6c6c;
  background: #fff;
  position: relative;
  margin: 0 auto;
  display: none;
}
.content #login-content .container1 .erweima_page {
  margin-bottom: 0;
}
.content #login-content .container1 .erweima_page .top_text {
  position: static;
  height: 44px;
  width: 100%;
  margin: 0 auto;
}
.content #login-content .container1 .erweima_page .top_text .top_title {
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  color: #3c3c3c;
  margin-top: 9px;
  padding-bottom: 8px;
  font-weight: 700;
}
.content #login-content .container1 .erweima_page .top_text .icon-diannao {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 52px;
  line-height: 52px;
  cursor: pointer;
  color: #ff0036;
  display: block;
}
.content #login-content .container1 .erweima_page .erweima_self {
  width: 100%;
  margin: 0 auto;
  padding-top: 2px;
}
.content #login-content .container1 .erweima_page .erweima_self .qrcode_bottom {
  margin: 5px 0;
  text-align: right;
}
.content #login-content .container1 .erweima_page .erweima_self .qrcode_bottom > a {
  color: #6c6c6c;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}
.content #login-content .container1 .erweima_page .erweima_self .qrcode_img {
  position: relative;
  margin: 20px auto;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 0 8px #ddd;
  opacity: 1;
  width: 140px;
  height: 140px;
}
.content #login-content .container1 .erweima_page .erweima_self .qrcode_img > img {
  height: 130px;
  width: 130px;
  margin: 5px;
}
.content #login-content .container1 .erweima_page .erweima_self .qrcode_desc {
  width: 188px;
  overflow: hidden;
  margin: 0 auto;
}
.content #login-content .container1 .erweima_page .erweima_self .qrcode_desc .icon-24gl-scanCode {
  color: #ff0036;
  line-height: 36px;
  float: left;
  font-size: 34px;
}
.content #login-content .container1 .erweima_page .erweima_self .qrcode_desc > p {
  font-size: 12px;
  padding-left: 44px;
  margin: 3px;
}
.content #login-content .container1 .erweima_page .erweima_self .qrcode_desc > p a {
  color: #ff0036;
}
#footer2 {
  clear: both;
  margin: 0;
  text-align: center;
  background: #fff;
  position: relative;
  font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
  margin-bottom: 18px;
}
#footer2 a:hover {
  text-decoration: underline;
}
#footer2 p {
  padding: 5px 0;
}
#footer2 p > a {
  margin-right: 3px;
  color: #000;
}
#footer2 #copyright {
  background: #fff;
  border-top: none;
  text-align: left;
  min-height: 177px;
}
#footer2 #copyright .tmallinfo {
  width: 1190px;
  margin: 0 auto;
  color: #fff;
  line-height: 25px;
}
#footer2 #copyright .otherlink {
  width: 1190px;
  margin: 0 auto;
  color: #fff;
  line-height: 25px;
}
#footer2 #copyright .copyright_1 {
  line-height: 20px;
  color: #666;
  width: 1190px;
  margin: 0 auto;
}
#footer2 #copyright .copyright_1 a {
  color: #999;
  margin-right: 65px;
}
#footer2 #copyright .copyright_1 a img {
  position: relative;
  top: 5px;
  vertical-align: baseline;
}
#footer2 #copyright .copyright_1 > span {
  margin-right: 65px;
  line-height: 20px;
  color: #666;
}
#footer2 #copyright .copyright_1 > b {
  display: block;
  color: #999;
  font-weight: normal;
}
