@charset 'utf-8';
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
.active {
  background: #ff5000 !important;
}
a {
  text-decoration: none;
  color: #3c3c3c;
}
#nav {
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  height: 36px;
}
#nav .nav_bx {
  width: 1190px;
  margin: 0 auto;
  height: 35px;
  background: #f5f5f5;
  backface-visibility: hidden;
  z-index: 10000;
}
#nav .nav_bx .nav_left .nav_left_unit {
  float: left;
  position: relative;
  padding: 0 6px;
  height: 35px;
  line-height: 35px;
}
#nav .nav_bx .nav_left .nav_left_unit > a:hover {
  color: #ff4400;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative {
  position: relative;
  display: none;
  margin-top: -1px;
  z-index: 1;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover {
  position: absolute;
  left: -7px;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  width: 248px;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover > a {
  display: block;
  text-align: center;
  border: 1px solid #FFE8DE;
  background: #FFF0E8;
  padding: 4px 0;
  color: #3c3c3c;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover > a:hover {
  color: #ff4400;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover .nav_hover_touxiang {
  float: left;
  margin-right: 10px;
  margin-left: 9px;
  width: 62px;
  height: 62px;
  padding: 9px;
  box-sizing: content-box;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover .nav_hover_touxiang > a {
  display: block;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover .nav_hover_touxiang > a > img {
  display: block;
  width: 56px;
  height: 56px;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover .nav_hover_text {
  height: 80px;
  overflow: hidden;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover .nav_hover_text .nav_hover_text_operate {
  text-align: right;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover .nav_hover_text .nav_hover_text_operate > a {
  color: #3c3c3c;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover .nav_hover_text .nav_hover_text_operate > a:hover {
  color: #ff4400;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover .nav_hover_text .nav_hover_text_operate .site-nav-pipe {
  padding: 0 5px;
  font-style: normal;
  color: #ddd;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover .nav_hover_text .nav_hover_text_score {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  color: #3c3c3c;
  margin-top: 10px;
}
#nav .nav_bx .nav_left .nav_left_unit .nav_hover_relative .nav_user_hover .nav_hover_text .nav_hover_text_vip {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  color: #3c3c3c;
}
#nav .nav_bx .nav_left .nav_left_unit > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 7px;
  font-size: 12px;
  color: #6C6C6C;
}
#nav .nav_bx .nav_left .nav_left_unit > .icon-iconfonti2-copy-copy-copy-copy {
  font-size: 10px;
  color: #9c9c9c;
  cursor: default;
}
#nav .nav_bx .nav_left .user_hover:hover {
  background: #FFF;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  margin-right: -1px;
  height: 37px;
}
#nav .nav_bx .nav_left .user_hover:hover > a {
  margin-left: -1px;
}
#nav .nav_bx .nav_left .user_hover:hover .nav_hover_relative {
  display: block;
}
#nav .nav_bx .nav_right {
  float: right;
}
#nav .nav_bx .nav_right .nav_left_unit {
  float: left;
  position: relative;
  padding: 0 6px;
  height: 35px;
  line-height: 35px;
}
#nav .nav_bx .nav_right .nav_left_unit .nav_wdtb_hover {
  position: relative;
  display: none;
  margin-top: -1px;
  z-index: 10001;
}
#nav .nav_bx .nav_right .nav_left_unit .nav_wdtb_hover .nav_hover_text {
  padding: 8px 0;
  position: absolute;
  left: -7px;
  top: 2px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  border-top: 0;
  background: #FFF;
}
#nav .nav_bx .nav_right .nav_left_unit .nav_wdtb_hover .nav_hover_text > a {
  display: block;
  padding: 0 5px;
  line-height: 28px;
  white-space: nowrap;
  color: #6C6C6C;
}
#nav .nav_bx .nav_right .nav_left_unit .nav_wdtb_hover .nav_hover_text > a:hover {
  background: #f5f5f5;
}
#nav .nav_bx .nav_right .nav_left_unit > a:hover {
  color: #ff4400;
}
#nav .nav_bx .nav_right .nav_left_unit > a:hover > .icon-shoucang {
  color: #ff4400;
}
#nav .nav_bx .nav_right .nav_left_unit > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 7px;
  font-size: 12px;
  color: #6C6C6C;
}
#nav .nav_bx .nav_right .nav_left_unit > a > .icon-shoucang {
  color: #9c9c9c;
  margin-right: 5px;
  font-size: 10px;
}
#nav .nav_bx .nav_right .nav_left_unit > .icon-gouwuche {
  font-size: 12px;
  color: #ff4400;
  margin-right: 3px;
}
#nav .nav_bx .nav_right .nav_left_unit > .icon-iconfonti2-copy-copy-copy-copy {
  font-size: 10px;
  color: #9c9c9c;
  cursor: default;
}
#nav .nav_bx .nav_right .nav_left_shuxian {
  color: #dddddd;
  font-size: 12px;
  padding: 0 5px;
}
#nav .nav_bx .nav_right .wdtb_hover:hover {
  background: #FFF;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  margin-right: -1px;
  border-bottom: 1px solid #eeeeee;
  height: 36px;
}
#nav .nav_bx .nav_right .wdtb_hover:hover > a {
  margin-left: -1px;
}
#nav .nav_bx .nav_right .scj_hover:hover {
  background: #FFF;
  height: 37px;
}
#nav .nav_bx .nav_right .wdtb_hover:hover .nav_wdtb_hover {
  display: block;
}
#tm_header {
  width: 1190px;
  padding: 20px 0 40px;
  position: relative;
  height: 35px;
  margin: 0 auto;
}
#tm_header #logo {
  float: left;
  font-size: 100%;
}
#tm_header #logo > a {
  width: 140px;
  height: 35px;
  font-size: 35px;
  line-height: 35px;
  color: #f50;
  position: relative;
  display: inline-block;
}
#tm_header #logo > a span {
  position: absolute;
  display: block;
  width: 181px;
  height: 45px;
  overflow: hidden;
  top: -2px;
  left: 0;
}
#tm_header #logo > a span img {
  width: 181px;
  height: 45px;
}
#tm_header .search {
  float: right;
  padding: 0;
}
#tm_header .search .search_triggers {
  position: relative;
  z-index: 1000;
}
#tm_header .search .search_triggers > ul {
  width: 74px;
  position: absolute;
  z-index: 1;
  left: 3px;
  top: 3px;
  height: 29px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #f5f5f5;
}
#tm_header .search .search_triggers > ul > .search_block {
  display: block;
  width: 100%;
  position: relative;
  zoom: 1;
  float: left;
}
#tm_header .search .search_triggers > ul > .search_block > a {
  height: 100%;
  width: 100%;
  text-indent: 15px;
  text-align: left;
  line-height: 29px;
  background: #f5f5f5;
  border-radius: 0;
  border: 0 none;
  color: #6b6b6b;
  font-weight: 400;
  font-size: 12px;
  padding: 0;
  float: left;
}
#tm_header .search .search_triggers > ul .search_none {
  display: none;
  width: 100%;
  position: relative;
  zoom: 1;
  float: left;
}
#tm_header .search .search_triggers > ul .search_none > a {
  height: 100%;
  width: 100%;
  text-indent: 15px;
  text-align: left;
  line-height: 29px;
  color: #6b6b6b;
  background: #fff;
  font-weight: 400;
  font-size: 12px;
  padding: 0;
  float: left;
}
#tm_header .search .search_triggers > ul > s {
  line-height: 0;
  border-width: 4px;
  border-color: #666 transparent transparent;
  border-style: solid dashed dashed;
  height: 0;
  position: absolute;
  top: 13px;
  font-size: 0;
  left: 57px;
  z-index: 10;
}
#tm_header .search .search_triggers > ul > s > s {
  border-width: 3px;
  border-color: #f6f6f6 transparent transparent;
  top: -4px;
  left: -3px;
  position: absolute;
  border-style: solid dashed dashed;
  height: 0;
}
#tm_header .search .search_content {
  width: 515px;
  position: relative;
  zoom: 1;
}
#tm_header .search .search_content .search_button {
  position: relative;
  z-index: 1;
  float: right;
  background: #fff;
}
#tm_header .search .search_content .search_button .btn_search {
  height: 35px;
  width: 93px;
  background: #ff4400;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 18px;
  float: left;
}
#tm_header .search .search_content .search_fields {
  height: 35px;
  background: #f50;
  position: relative;
  zoom: 1;
  overflow: hidden;
}
#tm_header .search .search_content .search_fields .search_combobox {
  margin-left: 79px;
  height: 29px;
  margin-right: 0;
  margin-top: 3px;
  background: #fff;
}
#tm_header .search .search_content .search_fields .search_combobox > input {
  margin-left: 0;
  text-indent: 10px;
  padding: 5px 0;
  width: 100%;
  outline: 0;
  border: 0 none;
  border-top: 1px solid #f5f5f5;
  z-index: 2;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  vertical-align: middle;
  background-color: #fff;
}
#tm_header .search .search_content .search_fields .icon-fangdajing1 {
  z-index: 2;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 82px;
  width: 12px;
  height: 12px;
}
#content {
  width: 1190px;
  clear: both;
  margin: 0 auto;
}
#content .number,
#content .pipe {
  font-family: Verdana,Tahoma,arial;
}
#content .content_cart {
  overflow: hidden;
  font-size: 12px;
  position: relative;
}
#content .content_cart .switch_cart {
  overflow: hidden;
  height: 73px;
  border-bottom: 1px solid #e6e6e6;
}
#content .content_cart .switch_cart .btn_switch_cart {
  float: left;
  font-weight: 700;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  font-family: 'Hiragino Sans GB', 'Lantinghei SC', 'Microsoft Yahei', SimSun;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  margin-left: -1px;
}
#content .content_cart .switch_cart .btn_switch_cart > a {
  padding-left: 15px;
  color: #3c3c3c;
}
#content .content_cart .cart_sum {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 25px;
  line-height: 25px;
}
#content .content_cart .cart_sum > span {
  font-size: 14px;
}
#content .content_cart .cart_sum > a {
  display: inline-block;
  width: 74px;
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: -2px;
  font-size: 16px;
  background: #aaa;
  color: #fff;
  cursor: not-allowed;
}
#content .content_cart .cart_sum .price {
  font-family: Arial,Verdana;
  font-weight: 700;
  margin-right: 5px;
  color: #f40;
}
#content .content_cart .cart_sum .price > em {
  font-family: Verdana,Arial;
  padding-left: 2px;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
}
#content .content_cart .cart_sum .price > em > span {
  font-size: 16px;
  font-weight: 400;
}
#content .cart_main {
  min-height: 210px;
}
#content .cart_main .cart_table_th {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: #3c3c3c;
}
#content .cart_main .cart_table_th .th {
  float: left;
}
#content .cart_main .cart_table_th .th .td-inner {
  padding-left: 10px;
}
#content .cart_main .cart_table_th .wp {
  width: 1190px;
  margin: 0 auto;
}
#content .cart_main .cart_table_th .wp .th-chk {
  font-size: 12px;
  text-align: left;
  position: relative;
  height: 50px;
}
#content .cart_main .cart_table_th .wp .th-chk .checkall {
  margin: -1px 0 0 15px;
  vertical-align: middle;
}
#content .cart_main .cart_table_th .wp .th-item {
  width: 342px;
}
#content .cart_main .cart_table_th .wp .th-item .td-inner {
  padding-left: 91px;
}
#content .cart_main .cart_table_th .wp .th-info {
  width: 212px;
  padding-right: 40px;
}
#content .cart_main .cart_table_th .wp .th-price {
  width: 130px;
}
#content .cart_main .cart_table_th .wp .th-amount {
  width: 120px;
}
#content .cart_main .cart_table_th .wp .th-sum {
  width: 140px;
}
#content .cart_main .cart_table_th .wp .th-op {
  width: 119px;
  padding: 0 0 0 30px;
}
#content .cart_main .cart_table_th .wp .hidden {
  display: none;
}
#content .cart_main #OrderList {
  margin-bottom: 15px;
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
  border-radius: 18px;
  overflow: hidden;
}
#content .cart_main #OrderList .J_ItemHead {
  position: relative;
  height: 38px;
  overflow: hidden;
}
#content .cart_main #OrderList .J_ItemHead .shop-info {
  position: relative;
  z-index: 2;
  line-height: 37px;
  padding-left: 15px;
  border-bottom: 1px solid #e8e8e8;
}
#content .cart_main #OrderList .J_ItemHead .shop-info .J_MakePoint:hover {
  color: #f40;
  text-decoration: underline;
}
#content .cart_main #OrderList .J_ItemHead .shop-info .ww-light {
  margin-left: 15px;
}
#content .cart_main #OrderList .J_ItemHead .shop-info .ww-light .ww-inline {
  background-position: -82px -1px;
  background-image: url(../img/shop-4.gif);
  text-decoration: none!important;
  width: 20px;
  height: 20px;
  zoom: 1;
  display: inline-block;
  vertical-align: text-bottom;
  background-size: 131px 61px;
}
#content .cart_main #OrderList .J_ItemHead .shop-info > svg {
  font-size: 18px;
}
#content .cart_main #OrderList .J_ItemHead .shop-info > a {
  color: #3c3c3c;
}
#content .cart_main #OrderList .J_ItemHead .shop-info .cart-checkbox {
  margin-top: -2px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
}
#content .cart_main #OrderList .order-content {
  position: relative;
  overflow: hidden;
}
#content .cart_main #OrderList .order-content .td-item {
  width: 342px;
}
#content .cart_main #OrderList .order-content .td-item .item-pic {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  float: left;
  overflow: hidden;
  background: #fff;
}
#content .cart_main #OrderList .order-content .td-item .item-pic > a {
  display: table-cell;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
}
#content .cart_main #OrderList .order-content .td-item .item-pic > a > img {
  max-height: 80px;
  max-width: 80px;
  vertical-align: middle;
  border: 0;
}
#content .cart_main #OrderList .order-content .td-item .item-info {
  margin: -3px 0 0 91px;
  padding-right: 25px;
}
#content .cart_main #OrderList .order-content .td-item .item-info .promo-logos {
  zoom: 1;
  overflow: hidden;
  min-height: 26px;
}
#content .cart_main #OrderList .order-content .td-item .item-info .margin_icon_bottom {
  margin-bottom: 3px;
}
#content .cart_main #OrderList .order-content .td-item .item-info .item-basic-info {
  min-height: 40px;
}
#content .cart_main #OrderList .order-content .td-item .item-info .item-basic-info > a {
  font-size: 12px;
  display: block;
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .cart_main #OrderList .order-content .td-item .item-info .item-basic-info > a:hover {
  color: #f40;
  text-decoration: underline;
}
#content .cart_main #OrderList .order-content .td-chk {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 82px;
  overflow: hidden;
}
#content .cart_main #OrderList .order-content .td-chk .j-checkbox {
  margin: 20px 10px 0 0;
  float: right;
}
#content .cart_main #OrderList .order-content .td-info {
  padding-top: 16px;
  min-height: 84px;
  border: 1px dashed transparent;
  position: relative;
  width: 212px;
  margin-right: 40px;
}
#content .cart_main #OrderList .order-content .td-info p {
  margin: 0 5px 0 15px;
  color: #9c9c9c;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .cart_main #OrderList .order-content .td-info span {
  display: none;
}
#content .cart_main #OrderList .order-content .td-info:hover {
  border: 1px dashed #f60 !important;
  background: #FFF;
  transition-delay: 0.3s;
}
#content .cart_main #OrderList .order-content .td-info:hover .btn-edit-sku {
  display: block;
  position: absolute;
  right: -1px;
  top: -1px;
  color: #fff;
  cursor: pointer;
  background: #f60;
  padding: 2px 4px 0;
  width: auto;
  height: 16px;
  line-height: 1;
}
#content .cart_main #OrderList .order-content .td-price {
  color: #9c9c9c;
  width: 130px;
}
#content .cart_main #OrderList .order-content .td-price .td-inner {
  padding-top: 12px;
}
#content .cart_main #OrderList .order-content .td-price .td-inner .price-content {
  padding: 8px 0 0 10px;
  line-height: 1;
  width: 74px;
}
#content .cart_main #OrderList .order-content .td-price .td-inner .price-content .price-line {
  padding-bottom: 4px;
}
#content .cart_main #OrderList .order-content .td-price .td-inner .price-content .price-line .price-original {
  color: #9c9c9c;
  text-decoration: line-through;
  font-family: Verdana,Tahoma,arial;
  font-style: normal;
}
#content .cart_main #OrderList .order-content .td-price .td-inner .price-content .price-line .price-now {
  color: #3c3c3c;
  font-weight: 700;
  font-family: Verdana,Tahoma,arial;
  font-style: normal;
}
#content .cart_main #OrderList .order-content .td-amount {
  width: 120px;
}
#content .cart_main #OrderList .order-content .td-amount .item-amount {
  height: 25px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 77px;
}
#content .cart_main #OrderList .order-content .td-amount .item-amount .J_Plus:hover {
  color: #f40;
  border: 1px solid #f40;
}
#content .cart_main #OrderList .order-content .td-amount .item-amount .J_Minus:hover {
  color: #f40;
  border: 1px solid #f40;
}
#content .cart_main #OrderList .order-content .td-amount .item-amount > a {
  display: block;
  height: 23px;
  width: 16px;
  border: 1px solid #e5e5e5;
  background: #f0f0f0;
  text-align: center;
  line-height: 23px;
  color: #444;
  position: absolute;
  top: 0;
}
#content .cart_main #OrderList .order-content .td-amount .item-amount > input {
  width: 39px;
  height: 15px;
  line-height: 15px;
  border: 1px solid #aaa;
  color: #3c3c3c;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
  background-position: -75px -375px;
  position: absolute;
  z-index: 2;
  left: 18px;
  top: 0;
}
#content .cart_main #OrderList .order-content .td-amount .item-amount .no-minus {
  border-right-color: transparent;
  left: 0;
}
#content .cart_main #OrderList .order-content .td-amount .item-amount .plus {
  border-left-color: transparent;
  right: 0;
}
#content .cart_main #OrderList .order-content .td-sum {
  color: #f40;
  font-weight: 700;
  width: 140px;
}
#content .cart_main #OrderList .order-content .td-sum .number {
  font-family: Verdana,Tahoma,arial;
  font-style: normal;
}
#content .cart_main #OrderList .order-content .td-op {
  width: 119px;
  padding: 0 0 0 30px;
}
#content .cart_main #OrderList .order-content .td-op .td-inner > a:hover {
  color: #f40;
  text-decoration: underline;
}
#content .cart_main #OrderList .order-content .td-op > .td-inner > a {
  display: block;
  padding-bottom: 3px;
}
#content .cart_main #OrderList .order-content .td-op .xsbb {
  display: none;
}
#content .cart_main #OrderList .order-content .td-op .xsbb:hover {
  color: #f40;
  text-decoration: underline;
}
#content .cart_main #OrderList .order-content .td-op .xsbb_hover:hover i {
  display: inline-block;
}
#content .cart_main #OrderList .order-content .td-op .icon-iconfonti2-copy-copy-copy-copy {
  font-size: 10px;
  color: #f40;
  display: none;
}
#content .cart_main #OrderList .order-content .td {
  float: left;
  min-height: 114px;
  overflow: hidden;
}
#content .cart_main #OrderList .order-content .td .td-inner {
  padding-top: 20px;
}
#content .cart_main #OrderList .order-content:hover .xsbb {
  display: inline-block;
}
#content .cart_main #OrderList .order-content:hover .td-info {
  border-color: #dbebfe;
  background: 0 0;
}
#content .float-bar-holder {
  position: relative;
  height: 72px;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
}
#content .float-bar-holder .float-bar {
  width: 1190px;
  margin: 0 auto;
}
#content .float-bar-holder .float-bar .float-bar-wrapper {
  height: 72px;
  overflow: hidden;
  margin: 0 24px;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .qx {
  float: left;
  width: 62px;
  height: 72px;
  line-height: 72px;
  padding-left: 5px;
  font-size: 13px;
  vertical-align: middle;
  position: relative;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .qx > input {
  vertical-align: middle;
  margin: -1px 0 0 15px;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .operations {
  float: left;
  line-height: 72px;
  height: 72px;
  font-size: 13px;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .operations > a {
  margin-left: 25px;
  float: left;
  color: #3c3c3c;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right {
  float: right;
  position: absolute;
  right: 18px;
  top: 15px;
  z-index: 4;
  padding-left: 20px;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right > a {
  display: inline-block;
  width: 74px;
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: -2px;
  font-size: 16px;
  background: #aaa;
  color: #fff;
  cursor: not-allowed;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right .amount-sum {
  height: 48px;
  color: #3c3c3c;
  cursor: pointer;
  float: left;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right .amount-sum > span {
  float: left;
  line-height: 48px;
  font-size: 13px;
  color: #000;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right .amount-sum > em {
  line-height: 50px;
  padding: 0 5px;
  font-size: 20px;
  float: left;
  color: #f40;
  font-weight: 700;
  font-style: normal;
  font-family: tohoma,arial;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right .amount-sum .arrow-box {
  float: left;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right .amount-sum .arrow-box .arrow {
  background: url(../img/shop-13.png) no-repeat -21px -21px;
  width: 16px;
  height: 16px;
  margin: 16px 10px 0 6px;
  display: inline-block;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right .price-sum {
  margin-right: 7px;
  height: 48px;
  color: #3c3c3c;
  float: left;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right .price-sum > span {
  float: left;
  line-height: 48px;
  font-size: 13px;
  color: #000;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right .price-sum .price {
  color: #f40;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  font-family: Arial;
  vertical-align: middle;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right .price-sum .price > em {
  font-weight: 700;
  font-size: 22px;
  padding: 0 3px;
  color: #f40;
  font-family: tohoma,arial;
  font-style: normal;
}
#content .float-bar-holder .float-bar .float-bar-wrapper .float-bar-right .price-sum .price > em > span {
  font-size: 14px;
  font-family: verdana;
  font-weight: 400;
}
#footer .wrapper {
  width: 100% !important;
  max-width: 100% !important;
  min-height: 125px;
  margin-top: 20px;
  padding-bottom: 9px;
  background-color: #fff;
  font-size: 12px;
}
#footer .wrapper .first {
  width: 1190px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  border-top: 1px solid #ddd;
}
#footer .wrapper .first p {
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  overflow: hidden;
}
#footer .wrapper .first p span {
  margin: 0 3px;
}
#footer .wrapper .first p span a {
  color: #6c6c6c;
  text-decoration: none;
}
#footer .wrapper .first p span a:hover {
  color: #FF4400;
}
#footer .wrapper .first p b {
  margin: 0 2px;
  font-weight: 400;
  color: #ddd;
}
#footer .wrapper .second {
  width: 1190px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#footer .wrapper .second p:nth-of-type(1) {
  padding-bottom: 8px;
  overflow: hidden;
}
#footer .wrapper .second p:nth-of-type(1) span {
  margin: 0 3px;
}
#footer .wrapper .second p:nth-of-type(1) span a {
  color: #6c6c6c;
  text-decoration: none;
}
#footer .wrapper .second p:nth-of-type(1) span a:hover {
  color: #FF4400;
}
#footer .wrapper .second p:nth-of-type(1) b {
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
#footer .wrapper .second p:nth-of-type(1) em {
  margin-left: 30px;
  font-style: normal;
  color: #9c9c9c;
}
#footer .wrapper .second p:nth-of-type(2) {
  padding-bottom: 8px;
  overflow: hidden;
}
#footer .wrapper .second p:nth-of-type(2) span {
  margin: 0 3px;
}
#footer .wrapper .second p:nth-of-type(2) span a {
  color: #6c6c6c;
  text-decoration: none;
}
#footer .wrapper .second p:nth-of-type(2) span a:hover {
  color: #FF4400;
}
#footer .wrapper .second p:nth-of-type(2) b {
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
#footer .wrapper .second p:nth-of-type(2) .sp1 {
  color: #9c9c9c;
}
#footer .wrapper .second p:nth-of-type(3) {
  padding-bottom: 8px;
  overflow: hidden;
}
#footer .wrapper .second p:nth-of-type(3) span {
  margin: 0 3px;
  color: #9c9c9c;
}
#footer .wrapper .second p:nth-of-type(3) b {
  margin: 0 2px;
  font-weight: 400;
  color: #ddd;
}
#footer .wrapper .second p:nth-of-type(4) {
  padding-bottom: 8px;
  overflow: hidden;
}
#footer .wrapper .second p:nth-of-type(4) span {
  margin: 0;
  color: #9c9c9c;
}
#footer .wrapper .second p:nth-of-type(4) span .tup {
  background-position: -861px 0px;
  width: 20px;
  height: 20px;
  background-image: url(../img/shop-9.jpg);
  display: inline-block;
}
#footer .wrapper .second p:nth-of-type(4) span a {
  color: #6c6c6c;
  text-decoration: none;
}
#footer .wrapper .second p:nth-of-type(4) span a:hover {
  color: #FF4400;
}
#footer .wrapper .second p:nth-of-type(4) b {
  margin: 0 2px;
  font-weight: 400;
  color: #ddd;
}
#footer .wrapper .third {
  width: 1190px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#footer .wrapper .third .one {
  display: flex;
}
#footer .wrapper .third .one span:nth-of-type(1) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(1) a {
  display: block;
  margin-right: 15px;
  width: 30px;
  height: 35px;
  background-position: 0px 0px;
  background-image: url('../img/shop-9.jpg');
}
#footer .wrapper .third .one span:nth-of-type(2) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(2) a {
  display: block;
  margin-right: 15px;
  width: 50px;
  height: 35px;
  background-position: -80px 0px;
  background-image: url('../img/shop-9.jpg');
}
#footer .wrapper .third .one span:nth-of-type(3) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(3) a {
  display: block;
  margin-right: 15px;
  width: 83px;
  height: 35px;
  background-position: -140px 0px;
  background-image: url('../img/shop-9.jpg');
}
#footer .wrapper .third .one span:nth-of-type(4) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(4) a {
  display: block;
  margin-right: 15px;
  width: 250px;
  height: 35px;
  background-position: 0px -18px;
  background-image: url('../img/shop-12.png_250x250');
}
#footer .wrapper .third .one span:nth-of-type(5) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(5) a {
  display: block;
  margin-right: 15px;
  width: 105px;
  height: 35px;
  background-position: -650px 0px;
  background-image: url('../img/shop-9.jpg');
}
#footer .wrapper .third .one span:nth-of-type(6) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(6) a {
  display: block;
  margin-right: 15px;
  width: 82px;
  height: 35px;
  background-position: -345px 0px;
  background-image: url('../img/shop-9.jpg');
}
#footer .wrapper .third .one span:nth-of-type(7) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(7) a {
  display: block;
  margin-right: 15px;
  width: 97px;
  height: 35px;
  background-position: -761px 0px;
  background-image: url('../img/shop-9.jpg');
}
#footer .wrapper .third .one span:nth-of-type(8) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(8) a {
  display: block;
  margin-right: 15px;
  width: 249px;
  height: 35px;
  background-position: -884px 0px;
  background-image: url('../img/shop-9.jpg');
}
#footer .wrapper .third .two {
  height: 71px;
  display: flex;
}
#footer .wrapper .third .two span:nth-of-type(1) {
  margin: 0 4px;
  overflow: hidden;
  margin-top: 20px;
}
#footer .wrapper .third .two span:nth-of-type(1) a {
  display: block;
  margin-right: 15px;
  width: 249px;
  height: 35px;
  background-position: 0px 0px;
  background-image: url('../img/shop-10.jpg');
}
#footer .wrapper .third .two span:nth-of-type(2) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .two span:nth-of-type(2) a {
  display: block;
}
#footer .wrapper .third .two span:nth-of-type(2) a img {
  width: 148px;
  height: 71px;
}
